body{
    background-image: url(images/bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    overflow: hidden;
    padding-top: 60px;
    padding-right: 90px;
    padding-left: 90px;
    font-size: 10px;
   
}
.container{
    max-width: 600px;
    background-color: white;

    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 30px;
}
.left-section{
    background-color: blanchedalmond;
    width: 300px;
     font-family: Arial, Helvetica, sans-serif;
}