
body{
   width: 100%;
   background-color: white;
   background-image: url(images/bg.jpeg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 100px;
   padding-bottom: 0;
   padding-left: 200px;
   padding-right: 200px;
    
}
main{
   width: 100%;
}
.container {
    background-color: #fff;
    width: 800px;
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 0px;
}
.left-section{
    width: 350px;
    height: fit-content;
    background-color: blanchedalmond;
    
    margin: 0;

}
.right-section{
    background-color: #fff;
}