
body{
    background-image: url(images/bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    overflow: hidden;
   padding-top: 150px 0 200px 150px;
}
.container {
  max-width: 600px;
  background-color: white;

  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 30px;
}
.left-section{
    width: 350px;
    background-color: blanchedalmond;
    font-size: 10px;

}
